.container {
  display: flex;
  background-color: #673ab7;
  flex-direction: row;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  height: 15vh;
  bottom: 0px;
}

.copyright {
  color: #fff;
  text-align: center;
  font-size: 17px;
}
